---
import { getEntry } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import Prose from '~/components/Prose.astro';
import type { Post } from '~/content/post-config';
import { formatDateString } from '~/utils/formatters';
import H1 from '~/components/H1.astro';
import { blogRoute } from '~/routes';

type Props = {
  post: Post;
};

const { post } = Astro.props;

const category = await getEntry('categories', post.category.id);
---

<Layout title={post.title}>
  <div class="container mx-auto pt-8 pb-16 px-4">
    <div
      class="flex items-center space-x-2 content-center w-full text-center text-xs uppercase font-semibold tracking-wider mb-2"
    >
      <a
        class="text-secondary-foreground hover:text-accent-foreground hover:underline focus:text-accent-foreground focus:underline"
        href={blogRoute()}>Blog</a
      >
      <span>/</span>
      <span
        class="text-xs uppercase font-semibold tracking-wide text-accent-foreground"
      >
        {category.data.title}
      </span>
    </div>

    <Prose>
      <H1 class="text-5xl font-bold mb-12">{post.title}</H1>

      <p class="prose-base mt-0">{post.description}</p>

      {
        post.publishDate && (
          <p class="prose-sm">{formatDateString(post.publishDate)}</p>
        )
      }

      <slot />
    </Prose>
  </div>
</Layout>
