---
import { getEntry } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import Prose from '~/components/Prose.astro';
import type { Post } from '~/content/post.config';
import { formatDateString } from '~/utils/formatters';
import H1 from '~/components/H1.astro';
import { blogRoute } from '~/routes';
import { assertExists } from '~/utils/assert-exists';

type Props = {
  post: Post;
};

const { post } = Astro.props;

const category = await getEntry('categories', post.data.category.id);
assertExists(category, 'Category not found');
---

<Layout
  title={post.data.title}
  description={post.data.subtitle}
  keywords={post.data.seoKeywords}
>
  <div class="container max-w-3xl mx-auto pt-8 pb-16 px-4">
    {
      post.data.published === false && (
        <p class="text-sm text-red-700 dark:text-red-300 mb-2">Unpublished</p>
      )
    }
    <div
      class="flex items-center space-x-2 content-center w-full text-center text-xs uppercase font-semibold tracking-wider mb-2"
    >
      <a
        class="text-secondary hover:text-accent hover:underline focus:text-accent focus:underline"
        href={blogRoute()}>Blog</a
      >
      <span>/</span>
      <span class="text-xs uppercase font-semibold tracking-wide text-accent">
        {category.data.title}
      </span>
    </div>

    <Prose>
      <H1 class="mb-4">{post.data.title}</H1>

      {
        post.data.subtitle != null && (
          <p class="mt-0 text-muted">{post.data.subtitle}</p>
        )
      }

      {
        post.data.publishDate != null && (
          <p class="text-sm text-muted">
            {formatDateString(post.data.publishDate)}
          </p>
        )
      }

      <hr />

      <slot />
    </Prose>
  </div>
</Layout>
