---
import Layout from '~/layouts/Layout.astro';
import type { Project } from '~/content/project.config';
import H1 from '~/components/H1.astro';

type Props = {
  project: Project;
};

const { project } = Astro.props;
---

<Layout title={project.title} description={project.description}>
  <div class="container max-w-3xl mx-auto pt-8 pb-16 px-4">
    <H1 class="mb-2">{project.title}</H1>
    <p class="text-muted mb-2">{project.description}</p>
    <p class="text-muted mb-8">{project.motivation}</p>

    <slot />
  </div>
</Layout>
